<!DOCTYPE html>
<html lang="en">
<head>


  <meta name="viewport" content="width=devices-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel = "stylesheet" type="text/css" href = "/css/bootstrap.min.css" >
  <link rel = "stylesheet" type="text/css" href = "/css/styles.css" >
  <link rel = "stylesheet" type="text/css" href = "/css/application.css" >
  <script src="/js/application.js"></script>
  <script src="/js/jquery.js"></script>


    <title>Twitter</title>

  </head>

  <body>

    <div class = "navbar navbar-inverse navbar-static-top">
      <div class = "container">

        <a href="#" class = "navbar-brand">Twitter</a>

          <div class="row">

            <div class = "col-md-3">
              <p></p>

                  <form action='/tweet/<%= @user.user_name %>' method="post">
                   <input type="text" name="content" style="width:500px; height:50px"><br><br>
                    <input type="submit" name="submit" class="btn btn-primary">
                  </form>
            </div>


          </div>

            <button class = "navbar-toggle" data-toggle= "collapse" data-target = ".navHeaderCollapse">
              <span class = "icon-bar"></span>
              <span class = "icon-bar"></span>
              <span class = "icon-bar"></span>
            </button>

            <div class = "collapse navbar-collapse navHeaderCollapse">
              <ul class = "nav navbar-nav navbar-right">
                <li><a href = "/find_user">Profile</a></li>
                <li><a href = "/timeline/<%= @user.user_name %>">Timeline</a></li>
                <li><a href = "/logout">Log-out</a></li>
                <li>
                   <form action='/search/' method="post">
                   <input type="text" name="item" style="width:100px; height:20px">
                    <input type="submit" name="submit" class="btn btn-primary" value= "Search">
                  </form>
                </li>
              </ul>
            </div>

      </div>

    </div>

  <%= yield %>

</body>
</html>
