  <div class = "container">
    <div class="row">
      <p></p>
      <hr>
    </div>


          <div class="row">

            <div class = "col-md-3">
              <% @tweet_objects.each do |tweet| %>

              <div id="tweety" >
                <center>
                <% user = User.find(tweet.user_id)%>
                <h3><a href="../profile/<%= user.user_name %>"><%= user.user_name %></a></h3>
                  <p><h3><%= tweet.content %></h3></p>
                  <a href = "#"  class = "btn btn-default">Re-Tweet</a>
                    <a href = "/remove_tweet/<%= tweet.id %>" class = "btn btn-default">Delete</a>
                </center>
              </div>
              <br>
              <% end %>




            </div>

          </div>

        </div>

    </div>

  </div>
